body {
	background-color: white;
	font-size: 100%;
	line-height: 1.5;
}
 
.container {
	margin:0 auto;
	width:960px;
}

.visuallyhidden {
	display: none;
}

body{
	background-color: white;
	font-family: 'Raleway', sans-serif;
	color: #f1f7f6;
	font-size: 100%;
	line-height: 1.5px;
}

header{
	background-color: #028568;
}

header .logo{
	margin: 10px;
}

nav a{
	text-decoration: none;
	color: #f1f7f6;
}

/* Line height equals the height of the header elemnt and it vertically centers to the text */

nav li{
	font-size: 18px;
	line-height: 75px;
	margin-right: 30px;
}

nav ul{
	display: flex;
}

header{
	display: flex;
}

header nav{
	margin-left: 210px;
}

header a:hover{
	border-bottom: 2px solid #abddd5;
}