body {
    background: rgba(0, 0, 0, 0.01);
    font-family: Verdana, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
    font-size: 100%;
    line-height: 1.5
}


/*CLEAR FIX SOLLUTION*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/****************************************************
    Demo CSS Styling

    Layout

    Criteria:
    margin 10px between outer edges and boxes (red and blue)
    margin 10px between the boxes (red and blue)
    footer 10px margin 

    blue and red:
    calculation page-width = (lm + lb + lp + content + rp + rb + rm) + (lm + lb + lp + content + rp + rb + rm) 
    960 = (10 + 0 + 0 + content + 0 + 0 + 0) + (10 + 0 + 0 + content + 0 + 0 + 0) + 10 
    960 = 30 + 2 * content 
    960 - 30 = 2 * content 
    930 / 2 = content  
    465 = content 

    black:
    960 = lm + lb + lp + content + rp + rb + rm
    960 = 10 + 0 + 0 + content + 0 + 0 + 10
    960 = 20 + content 
    960 - 20 = content
    940 = content 

****************************************************/

main{
    background-color: lightgrey; 
    display: flex;
    flex-wrap: wrap; 
}

/*********************
    since there is no actual content we will
    simulate the content with a fixed height 
    value of 200px 

    flexwrap effects a flex display area, without the 
    display: flex; flex-wrap is meaningless. 
    
*********************/

main div{
    margin: 10px 0px 10px 10px;
    width: 465px;
    height: 200px;
}

.red-paint{
    background-color: red;
}

.blue-paint{
    background-color: blue;
}

/************************
    flexblock attempts to place all elements within it's "specified container area" 
    on the same line 

    flexblock will automatically adjust measurments to get all elements to appear
    on the same line 

    problem: I don't want all elements to be on the same line 
             I don't want my measurments adjusted

    solution: Use flex-wrap: wrap; 

    this will place as many elements as possible on a single row without adjusting
    the measurments of your element. Any left over elements will wrap to the following 
    line until all elements have been displayed 

************************/

.black-paint{
    background-color: black;
    width: 940px;
    height: 50px;
    margin: 0px 10px 10px 10px;
}

footer{
    background-color: lightgrey;
    height: 60px;
    display: flex; 
}